fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
python-multipart
pymupdf


langchain-text-splitters
langchain-core

sentence-transformers
langchain-community
faiss-cpu

langchain-huggingface
pytest

langchain-ollama
langgraph